@page "/"

 <div>
     <div class="jumbotron px-3">
        <h1 align="center"> Triple"G" Cloud Database</h1>
     </div>
     <div class="row">
         <div class="col-md-4 col-sm-4">
             <img src="assets/img/building.jpg" height="500px" width="350px" style="border-radius:200px;" />
         </div>
          <div class="col-md-4 col-sm-4">
              <img src="assets/img/philippe-bourhis-vJEjcth6hcY-unsplash.jpg" width="350px"height="500px" style="border-radius:200px;" />
          </div>
           <div class="col-md-4 col-sm-4">
               <img src="assets/img/jesse-gardner-qbqnCPHM_kU-unsplash.jpg" height="500px" style="border-radius:200px;" />
           </div>
     </div>
 </div>
   

 @code{

     
 }