@inherits LayoutComponentBase
@attribute [Authorize]
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
        <div class=" card shadow" style="margin:8px;" >
            <footer align="center">
               <div class="card-body">
                   <strong> &copy;TripleG&nbsp;|&nbsp;Esther Osakwe - 08032255795&nbsp;|&nbsp;Solomon Yusuf - 2013</strong><br />
                <small><i>1, Egunjobi street, off oremeji bus-stop,shasha,Lagos.</i></small>
               </div>
            </footer>
        </div>
      </div>
</div>
