@inherits LayoutComponentBase
@attribute [Authorize]
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
         <footer class="footer" align="center" style="background: var(--bs-gray-800);">
        <div  class="card sticky-bottom ">
            <div class="card-body">
            <small><i>1, Egunjobi street, off oremeji bus-stop,shasha,Lagos.</i></small>
            <p class="copyright">&copy;TripleG&nbsp;|&nbsp;Esther Osakwe - 08032255795&nbsp;  2013</p>
        </div>
        </div>
    </footer>
      </div>
</div>
